h1, h2, h3, h4 {
  
  color: $brand-primary;
  
}

.page-header {
  
  margin: 7em 0 2em;
  
}


  

a.navbar-brand {
  
  @media (max-width: $screen-sm) {
    
    font-size: 1.2em;
    
  }
  
}

.archive-header {
  
  border-bottom: none;
  
}