h1, h2, h3, h4 {
  
  color: $brand-primary;
  
}

a.navbar-brand {
  
  font-family: 'McLaren', cursive;
  
  @media (max-width: $screen-sm) {
    
    font-size: 1.2em;
    
  }
  
}

.archive-header {
  
  border-bottom: none;
}